.section-1{
    padding: 50px 0px 50px 0px;
    height: 100vh;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}
.section-1 .style-box{
    padding: 10px;
}
.section-1 .style-box .thursday{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 28px;
}

.section-1 .style-box .patchy{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.section-1 .style-box p{
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
}
.section-1 .style-box .tem-text{
    padding-top: 15px;
}
.section-1 .style-box .tem-text span{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 500;
}
.section-1 .text-style{
    padding-top: 90px;
    padding-left: 10px;
}
.section-1 .text-style p{
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
}
.section-1 .text-style span
{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 500;   
}
.section-1 .text-right .img-box img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.section-1 .text-right .img-box h3{
    font-size: 65px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 700;
}
.section-1 .text-right .img-box span{
    padding-left: 12px;
}
.section-1 .text-right .overcast{
    text-align: right;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 4px;
}
.section-1 .text-right .feels{
    text-align: right;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.section-1 .text-right span{
    text-transform: uppercase;
}
.bg-color
{   
    border-radius: 6px;
    background-color: aliceblue;
    padding: 20px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.57)
}
/* top-section close  */
.section-1 .box-style{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: white;
}
.section-1 .box-style h4{
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    padding-bottom: 12px;
}
.section-1 .box-style p{
    text-transform: capitalize;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 14px;
}
.section-1 .box-style span{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 500; 
}
.section-1 .box-style img{
    height: 65px;
    width: 100%;
    margin-top: 35px;
}
.section-1 .bg-color-2{
    margin: 30px 0px;
    padding: 10px;
    background-color: #C0E2FF;
}